# Ignore node_modules at the root
/node_modules

# Ignore node_modules for both frontend and backend
/vehicle-dashboard/node_modules
/vehicle-backend/node_modules

# Ignore build files
/vehicle-dashboard/build
/vehicle-backend/dist
